<div class = "cover-page">
    <h1 class="display-4">Thanks for visting my webpage!</h1>
    <p class="lead">This website serves as a resume CV and portfolio for future employers.</p>
    <div class="photo-outer">
		<img src="https://actiii03.github.io/personal_website/assets/img/cover-page.png" >
	</div>
	<br>
    <hr class="my-4">
    <p>Option to download resume here!</p>
    <a class="btn btn-primary btn-lg" href="https://github.com/ActIII03/personal_website/raw/master/assets/resume.pdf" role="button">Resume CV (.pdf)</a>
    <link rel="stylesheet" href="/assets/css/styles.css">
</div>
