<div class="projects-list">

	<h2 id="section-title">Projects</h2>
	<p id="quote"> Here are some projects I have completed.<br>NOTE: Still working on completing more as I progess through school</p>
	<hr>

	<div class="card">
		<img src="https://actiii03.github.io/personal_website/assets/img/website.png" alt="avatar" style="width:100%" >
		<div class="card-container">
			<h4 id="project-item"><b>Resume/Portfolio website</b></h4>	
			<ul>
				<li> Function: Serves as a portfolio for employers</li>
				<li> Technologies: Ruby On Rails, Docker, HTML, SCSS, and Git</li>
				<li> Source: <a href="https://github.com/ActIII03/personal_website"> Github</a></li>
			</ul>
		</div>	

	<div class="card">
		<img src="https://actiii03.github.io/personal_website/assets/img/OAT-011-scraping.png" alt="avatar" style="width:100%" >
		<div class="card-container">
			<h4 id="project-item"><b>Web Craler</b></h4>	
			<ul>
				<li> Function: Scrape website for ecommerce data and notify client via SMS</li>
				<li> Technologies: Docker, git, Python, scrapy</li>
				<li> Source: <a href="https://github.com/ActIII03/GPU-Crawler"> Github</a></li>
			</ul>
		</div>	

	</div>	

</div>
