<div class="projects-list">

	<h2 id="section-title">Projects</h2>
	<p id="quote"> "I like work: it fascinates me. I can sit and look at it for hours."<br> --Jerome K. Jerome</p>
	<hr>

	<div class="card">
		<img src="https://actiii03.github.io/personal_website/assets/img/website.png" alt="avatar" style="width:100%" >
		<div class="card-container">
			<h4 id="project-item"><b>Resume/Portfolio website</b></h4>	
			<ul>
				<li> Function: Serves as a portfolio for employers</li>
				<li> Technologies: Ruby On Rails, Docker, HTML, SCSS, and Git</li>
				<li> Source: <a href="https://github.com/ActIII03/personal_website"> Github</a></li>
			</ul>
		</div>	

	</div>	

</div>
