<!--Change CSS for ul tags -->
<div class = "resume-experience">

	<h2> Experience </h2>

	<!-- C-tran job -->
	<h3 id="company">C-Tran</h3>
	<div class = "job-position">
		<div class="description">Business Data Analyst Intern</div>
		<div class="description">Vancouver, WA, 98682</div>
		<div class="description">NOV19 - MAR20</div>
		<ul id = "job-description">
			<li> Description #1</li>
			<li> Description #2</li>
			<li> Description #3</li>
		</ul>
	</div>

	<!-- Free Geek -->
	<h3 id="company">Free Geek</h3>
	<div class = "job-position">
		<div class="description">Technical Support Intern</div>
		<div class="description">Portland, OR, 97214</div>
		<div class="description">MAY19 - OCT19</div>
		<ul id = "job-description">
			<li> Description #1</li>
			<li> Description #2</li>
			<li> Description #3</li>
		</ul>
	</div>

	<!-- PCC Vet Resource -->
	<h3 id="company">Portland Community College</h3>
	<div class = "job-position">
		<div class="description">Veteran Resource Center Student Coordinator</div>
		<div class="description">Portland, OR, 97214</div>
		<div class="description">APR18 - DEC18</div>
		<ul id = "job-description">
			<li> Description #1</li>
			<li> Description #2</li>
			<li> Description #3</li>
		</ul>
	</div>

	<!-- USS Sampson-->
	<h3 id="company">United States Navy</h3>
	<div class = "job-position">
		<div class="description">Medical Department Representative</div>
		<div class="description">Everett, WA, 97214</div>
		<div class="description">JUN15 - DEc17</div>
		<ul id = "job-description">
			<li> Description #1</li>
			<li> Description #2</li>
			<li> Description #3</li>
		</ul>
</div>
