<!--Change CSS for ul tags -->
<div class = "resume-experience">

	<h2> Experience </h2>

	<!-- C-tran job -->
	<h3 id="company">C-Tran</h3>
	<div class = "job-position">
		<div class="description-company">Business Data Analyst Intern, Vancouver, WA, 98682</div>
		<div class="description-date">November 2019 - March 2020</div>
		<ul id = "job-description">
			<li> 
				Improved the data validity of each data set within our SQL Server database (data warehouse) by datatype checking and error-checked the range of values. Documenting the design before process-mapping the relationship of each incoming data-set for statistical analysis. 
			</li>
			<li> 
				Transformed data sets from data warehouse into consumable visual-models through Microsoft’s application Power BI. Once created, KPI dashboards will be viewed throughout the agency via the intranet application Shared Point.
			</li>
		</ul>
	</div>

	<!-- Free Geek -->
	<h3 id="company">Free Geek</h3>
	<div class = "job-position">
		<div class="description-company">Technical Support Intern, Portland, OR, 97214 </div>
		<div class="description-date">May 2019 - October 2019</div>
		<ul id = "job-description">
			<li> 
				Provided help-desk support to local non-profit organizations in the community and individual consumers on warranty equipment that were primarily workstations and laptops purchased through Free Geek’s re-purposed store. 	
			</li>
			<li>
				Troubleshooted and repaired hardware and software on workstations and laptops, which mainly involved Linux tools and provide short tutorials to customers that were aimed at guiding customers to the appropriate solution for their problem. 	
			</li>
			<li> 
				Participated within a technical team and provided support to staff-members in regards to customer interactions, ensuring Free Geek’s services were being carried out in a high-quality manner.	
			</li>
		</ul>
	</div>

	<!-- PCC Vet Resource -->
	<h3 id="company">Portland Community College</h3>
	<div class = "job-position">
		<div class="description-company">Veteran Resource Center Student Coordinator, Portland, OR, 972 </div>
		<div class="description-date">April 2018 - December 2018</div>
		<ul id = "job-description">
			<li> 
				Developed and established the Veteran Recreational Club, for an initial 12 charter members in under 3 months. Scheduled student veteran retreats and team building exercises around social mindfulness and awareness.
			</li>
			<li> 
				Customer facing, relationship manager, acted as a liaison between student support services,and the educational requirements of the veteran student body.
			</li>
		</ul>
	</div>

	<!-- USS Sampson-->
	<h3 id="company">United States Navy</h3>
	<div class = "job-position">
		<div class="description-company">Medical Department Representative Everett, WA, 97214</div>
		<div class="description-date">June 2015 - December 2017</div>
		<ul id = "job-description">
			<li> 
				$120K worth of medical equipment maintained for deployment oversees. 20% decrease in spending across four medical-supply categories through participation in a mentor-ship that instilled carrying innovative best practices for patient experience.
			</li>
			<li> 
				$86K annual inventory management, to ensure supply chain efficiencies, exceeded 90% compliance standards, and ensured documentation requirements were met. Inclusive of dental emergency kits, chemical, biological, and radiological medication kits, as well as to ensure appropriate maintenance on a vast supply of operating equipment.
			</li>
			<li> 
				327 patients under active primary care, including respiratory infections, musculoskeletal injuries, and including severe tissue damage.	
			</li>
		</ul>
</div>
