<div class = "resume-header">

<h2> About me </h2>

<p>
	I am a full-time student veteran attending Portland State University pursuing a Bachelor of Science in Computer Science with a focus on Software Engineering. Had a career change after being honoarbly discharged from the military and the future has been become more promising since the change. This website serves as Resume CV/ Portfolio *To-be soon*
</p>

<img src="https://actiii03.github.io/personal_website/assets/img/profile-pic.png" width="500" height="600">

</div>
