<!--Change CSS for ul tags -->
<div class = "resume-education">

<h3> Education </h3>

<ul>
	<li>Portland State University, Portland, OR 97201</li>
		<ul>
			<li> Degree: B.S. Computer Science</li>
			<li> Graduation Date: June 2023 (Expected)</li>
		</ul>
	<li> Subjects: 
		<br>
		<div>
			<ul>
				<li> Programming Systems</li>
				<li> Systems Programming</li>
				<li> Data Structures</li>
				<li> Calculus I - III</li>
				<li> Introduction to Linear Allgebra</li>
				<li> Applied Statistics for Engineers I</li>
				<li> Discrete Structurea I-II</li>
				<li> Critical Thinking</li>
			</ul>
		<div>
	</li>
</ul>


</div>