<!--Change CSS for ul tags -->
<hr>
<div class = "resume-experience">

	<h2 id="section-title"> Experience </h2>

	<!-- C-tran job -->
	<h3 id="company">C-Tran</h3>
	<div class = "job-position">
		<div class="description-company">Business Data Analyst Intern, Vancouver, WA, 98682</div>
		<div class="description-date">November 2019 - March 2020</div>
		<p> Technologies and Responbilities: Microsoft Power Bi, T-SQL, Excel DAX, and SQL-Server.
	</div>

	<!-- Free Geek -->
	<h3 id="company">Free Geek</h3>
	<div class = "job-position">
		<div class="description-company">Technical Support Intern, Portland, OR, 97214 </div>
		<div class="description-date">May 2019 - October 2019</div>
		<p> Technologies and Responbilities: Linux/Unix Bash, Linux Mint (Debain Clone), and Tier-II repairs. 
	</div>

	<!-- PCC Vet Resource -->
	<h3 id="company">Portland Community College</h3>
	<div class = "job-position">
		<div class="description-company">Veteran Resource Center Student Coordinator, Portland, OR, 972 </div>
		<div class="description-date">April 2018 - December 2018</div>
		<p> Technologies and Responbilities: G-Suite, Microsoft Office, and ensuring training compliance standards were met.
	</div>

	<!-- USS Sampson-->
	<h3 id="company">United States Navy</h3>
	<div class = "job-position">
		<div class="description-company">Medical Department Representative Everett, WA, 97214</div>
		<div class="description-date">June 2015 - December 2017</div>
		<p> Technologies and Responbilities: Armed Forces Health Longitudinal Technology Application (AHLTA), Microsoft Office, and ensuring training and supplies compliance standards were met.
	</div>

</div>
