// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.cover-page{
    text-align:center;

}

.resume-header{
	text-align:center;	
  margin: auto;
  padding: 5px;
}

.resume-education {
    margin: auto;
    width: 50%;
    padding: 10px;
}

 h2#section-title{
  text-align: center;
}

.resume-experience .description {
	float: left;
	width: 50%;
}

.resume-experience #company{
	text-decoration: underline;
}

.profile-pic {
  	max-width: 100%;
  	height: 100%;
  	border-radius: 50%;
  	position: relative;
  	overflow: hidden;
  	margin:auto;

 }

.profile-pic img{
	width: 100%;
 	max-width: 400px;
 	height: auto;
 	border-radius: 50%;
}

.photo-outer {
  	width: 100%;
  	height: auto;
  	border-radius: 50%;
 }